

.App {
  text-align: center;
}

.grid-images {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding: 0 10rem;
}

@media only screen and (max-width: 1050px) {
  .grid-images {
    padding: 0rem
  }
}

.grid-image {
  margin: 1rem;
  width: 20%;
  padding: 1rem;
  box-shadow: 2px 2px 3px 3px #e3e3e3;
}

.grid-image:hover {
  box-shadow: 2px 2px 3px 3px #d3d3d3;
}

@media only screen and (max-width: 1000px) {
  .grid-image {
    width: 30%;
  }
}

@media only screen and (max-width: 800px) {
  .grid-image {
    width: 80%;
  }
}

@media only screen and (max-width: 500px) {
  .grid-image {
    width: 100%;
  }
}

.image {
  min-height: 200px;
  max-width: 250px;
  max-height: 250px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0 auto;
}

input[type="file"] {
  display: none;
}

.button {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
}

.button:hover {
  cursor: pointer;
}

.button-upload {
  margin: 2rem 0;
}

.image-upload--label:hover {
  border-bottom: 2px solid #000;
}

.remove-image--label {
  font-size: 18px;
  font-weight: normal;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 1rem 0;
}


.remove-image--label:hover {
  text-decoration: underline;
}